@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.markdown-editor {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.markdown-editor textarea {
  flex: 1;
  height: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.markdown-editor .react-markdown {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}


* {
  /* width:800px; */
  scrollbar-width: thin !important;
  scrollbar-color: rgba(51, 50, 50, 0.1) transparent !important;
}

*::-webkit-scrollbar {
  width: 12px !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(182, 174, 174, 0.1) !important;
  border-radius: 20px;
  border: 3px solid transparent;
}
